<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Tokenized Lottery DApp</h1>

    <div class="col-lg-6 mx-auto">
        <div *ngIf="!wallet" class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <button (click)="createWallet()" type="button" class="btn btn-success btn-lg px-4 gap-3">Create Wallet
            </button>
            <button type="button" class="btn btn-primary btn-lg px-4 gap-3" data-bs-toggle="modal"
                data-bs-target="#importWallet">
                Import Wallet
            </button>
            <button (click)="connectWallet()" type="button" class="btn btn-danger btn-lg px-4 gap-3" disabled>Connect
                Wallet </button>
        </div>


        <div *ngIf="wallet">
            <div class="card border-0">
                <div class="card-body">
                    <h4 class="card-title">Wallet Address</h4>
                    <h6><a href='https://goerli.etherscan.io/address/{{wallet.address}}' target="_blank">View on
                            Etherscan</a></h6>
                    <p class="card-text">
                        {{wallet.address}}
                        <button (click)="disconnectWallet()" type="button" class="btn btn-danger">
                            Disconnect
                        </button>
                    </p>

                </div>
            </div>
            <div class="card border-0">
                <div class="card-body">
                    <h4 class="card-title">Token Contract</h4>
                    <h6><a href='https://goerli.etherscan.io/address/{{tokenContractAddress}}' target="_blank">View on
                            Etherscan</a></h6>
                    <p class="card-text">
                        {{tokenContractAddress}}
                    </p>
                </div>
            </div>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Your ETH Balance</h4>
                        <p class="card-text">
                            {{ethBalance}}
                        </p>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Your token Balance</h4>
                        <p class="card-text">
                            {{tokenBalance}}
                        </p>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Your Votes:</h4>
                        <p class="card-text">
                            {{votePower}}
                        </p>
                    </div>
                </div>
                <button (click)="updateValues()" class="btn btn-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z" />
                        <path
                            d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z" />
                    </svg>
                </button>
            </div>
            <button [disabled]="tokenRequestPending" (click)="requestTokensTen()" type="button"
                class="btn btn-success btn-lg px-4 m-3 gap-3">
                Request Tokens
            </button>
            <button type="button" class="btn btn-primary btn-lg px-4 m-3 gap-3" data-bs-toggle="modal"
                data-bs-target="#transferTokens">
                Transfer Tokens
            </button>
            <button type="button" class="btn btn-primary btn-lg px-4 m-3 gap-3" data-bs-toggle="modal"
                data-bs-target="#delegateTokens">
                Self Delegate
            </button>
        </div>
    </div>

    <div *ngIf="wallet" class="container my-4 text-center">
        <div class="row justify-content-center my-4">
            <div class="my-4">
                <div class="container border rounded m-4">
                    <div *ngIf="!lotteryContractAddress" class="row m-4">
                        <div class="input-group mb-3">
                            <span class="input-group-text">Address</span>
                            <input #lotteryContractAddress type="text" class="form-control"
                                placeholder="Lottery contract address here">
                            <button (click)="connectLotteryContract(lotteryContractAddress.value)"
                                class="btn btn-success input-group-button">Connect</button>
                        </div>
                        <h1>OR</h1>
                        <button (click)="deployLotteryContract()" class="btn btn-alert">Deploy Lottery Contract</button>
                    </div>

                    <div *ngIf="lotteryContractAddress" class="row m-4">
                        <p>Lottery contract address: {{lotteryContractAddress}}</p>
                        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Voting Power</h4>
                                    <p class="card-text">
                                        {{lotteryVotePower}}
                                    </p>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Winning Proposal: </h4>
                                    <p class="card-text">
                                        {{lotteryWinningProposal}}
                                    </p>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Winner Name: </h4>
                                    <p class="card-text">
                                        {{lotteryWinnerName}}
                                    </p>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Winning Votes: </h4>
                                    <p class="card-text">
                                        {{lotteryWinningVotes}}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-danger btn-lg px-4 m-3 gap-3" data-bs-toggle="modal"
                            data-bs-target="#vote">
                            Vote
                        </button>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr>
    <div class="container">
        <ul class="nav nav-pills nav-fill" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="wallet-tab" data-bs-toggle="tab" data-bs-target="#wallet-tab-pane"
                    type="button" role="tab" aria-controls="wallet-tab-pane" aria-selected="true">Wallet Txs</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="token-tab" data-bs-toggle="tab" data-bs-target="#token-tab-pane"
                    type="button" role="tab" aria-controls="token-tab-pane" aria-selected="false">Token Txs</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="lottery-tab" data-bs-toggle="tab" data-bs-target="#lottery-tab-pane"
                    type="button" role="tab" aria-controls="lottery-tab-pane" aria-selected="false">Lottery Txs</button>
            </li>
        </ul>
        <div class="tab-content my-4" id="myTabContent">
            <div class="tab-pane fade show active" id="wallet-tab-pane" role="tabpanel" aria-labelledby="wallet-tab"
                tabindex="0">
                <div *ngIf="!historicalDataWallet || !k_historicalDataWallet">
                    Nothing to show here yet. Connect a wallet or a contract or perform some transaction on them to see
                    history here.
                </div>
                <div *ngIf="historicalDataWallet" class="container">
                    <table class="table thead-dark table-bordered table-hover table-responsive">
                        <thead>
                            <tr>
                                <th *ngFor=" let key of k_historicalDataWallet" scope="col">
                                    {{key}}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor=" let res of historicalDataWallet">
                                <td *ngFor=" let key of k_historicalDataWallet">
                                    {{res[key]}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane fade" id="token-tab-pane" role="tabpanel" aria-labelledby="token-tab" tabindex="0">
                <div *ngIf="!historicalDataToken || !k_historicalDataToken">
                    Nothing to show here yet. Connect a wallet or a contract or perform some transaction on them to see
                    history here.
                </div>
                <div *ngIf="historicalDataToken" class="container">
                    <table class="table thead-dark table-bordered table-hover table-responsive">
                        <thead>
                            <tr>
                                <th *ngFor=" let key of k_historicalDataToken" scope="col">
                                    {{key}}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor=" let res of historicalDataToken">
                                <td *ngFor=" let key of k_historicalDataToken">
                                    {{res[key]}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane fade" id="lottery-tab-pane" role="tabpanel" aria-labelledby="lottery-tab" tabindex="0">
                <div *ngIf="!historicalDataLottery || !k_historicalDataLottery">
                    Nothing to show here yet. Connect a wallet or a contract or perform some transaction on them to see
                    history here.
                </div>
                <div *ngIf="historicalDataLottery" class="container">
                    <table class="table thead-dark table-bordered table-hover table-responsive">
                        <thead>
                            <tr>
                                <th *ngFor=" let key of k_historicalDataLottery" scope="col">
                                    {{key}}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor=" let res of historicalDataLottery">
                                <td *ngFor=" let key of k_historicalDataLottery">
                                    {{res[key]}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



<!--- IMPORT WALLET MODAL --->
<div class="modal fade" id="importWallet" tabindex="-1" aria-labelledby="importWalletLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="importWalletLabel">Wallet Import</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">(Make sure no thieves are looking)
                <div class="input-group mt-4">
                    <input #inputMnemonic type="text" class="form-control"
                        placeholder="Enter your mnumonic seed phrase">
                    <div class="input-group-append">
                        <button class="btn btn-success" data-bs-dismiss="modal" type="button"
                            (click)="importWallet(inputMnemonic.value, 'mnemonic')">Via Mnemonic</button>
                    </div>
                </div>
                <div class="input-group mt-4">
                    <input #inputPrivateKey type="text"
                        value='73ca93ab7a1bd9a844c8efcff7141a54c423a333f83fd7e2d4bb28be22f6a7a8' class="form-control"
                        placeholder="Enter your private key">
                    <div class="input-group-append">
                        <button class="btn btn-success" data-bs-dismiss="modal" type="button"
                            (click)="importWallet(inputPrivateKey.value, 'privatekey')">Via Private Key</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!--- TRANSFER TOKENS MODAL --->
<div class="modal fade" id="transferTokens" tabindex="-1" aria-labelledby="transferTokensLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="transferTokensLabel">Transfer Tokens</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">(It's their lucky day)
                <div class="input-group mt-4">
                    <div class="input-group-prepend">
                        <div class="input-group-text pe-1">Transfer To</div>
                    </div>
                    <input #inputTransferTo type="text" class="form-control" placeholder="Enter receiver's address">
                </div>
                <div class="input-group mt-4">
                    <div class="input-group-prepend">
                        <div class="input-group-text pe-4 ps-4">Amount </div>
                    </div>
                    <input #inputTransferAmount type="number" min='0' value='' class="form-control"
                        placeholder="Enter amount to Transfer">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-success" data-bs-dismiss="modal"
                    (click)="transferTokens(inputTransferTo.value, inputTransferAmount.value)">
                    Transfer
                </button>
            </div>
        </div>
    </div>
</div>

<!--- DELEGATE TOKENS MODAL --->
<div *ngIf="wallet" class="modal fade" id="delegateTokens" tabindex="-1" aria-labelledby="delegateTokensLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="delegateTokensLabel">Delegate Tokens</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">(So you want to try some governance?)
                <div class="input-group mt-4">
                    <div class="input-group-prepend">
                        <div class="input-group-text pe-1">Delegate To</div>
                    </div>
                    <input #inputDelegateTo type="text" class="form-control" value='{{wallet.address}}'
                        placeholder="Enter delegates address" disabled>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-success" data-bs-dismiss="modal"
                    (click)="delegateTokens(inputDelegateTo.value)">
                    Delegate
                </button>
            </div>
        </div>
    </div>
</div>

<!--- VOTE MODAL --->
<div class="modal fade" id="vote" tabindex="-1" aria-labelledby="voteLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="voteLabel">Vote</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="input-group mt-4">
                    <div class="input-group-prepend">
                        <div class="input-group-text pe-4 ps-4">Proposal </div>
                    </div>
                    <input #inputProposal type="text" min='0' value='' class="form-control"
                        placeholder="Enter proposal index">
                </div>
                <div class="input-group mt-4">
                    <div class="input-group-prepend">
                        <div class="input-group-text pe-4 ps-4">Amount </div>
                    </div>
                    <input #inputVoteAmount type="text" min='0' value='' class="form-control"
                        placeholder="Enter amount to vote">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-success" data-bs-dismiss="modal"
                    (click)="vote(inputProposal.value, inputVoteAmount.value)">
                    Vote
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Connect wallet-->
<!-- Show eth balance, token balance, vote power -->
<!-- input for lottery contract or token contract-->
<!-- if token buttons for request, transfer-->
<!-- form for request -->
<!-- form for transfer -->
<!-- if lottery buttons for vote, delegate, result-->
<!-- form for vote -->
<!-- form for delegate -->
<!-- button to clear contract related actions -->
<!-- button to disconnect wallet -->